.envelope-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  margin-top: 10vw;
}

.envelope-wrapper-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin-top: 30px;
  transition: margin-top 0.6s ease;
}

.envelope-wrapper-view.open {
  margin-top: 15vw;
}

.envelope {
  position: relative;
  width: clamp(220px, 60vw, 400px);
  aspect-ratio: 3 / 2; /* keeps 300x200 proportion */
  perspective: 1000px; /* important for 3D flip */
  transition: filter 0.6s ease;
}

.envelope-view {
    position: relative;
    width: clamp(260px, 35vw, 500px);
    aspect-ratio: 3 / 2; /* keeps 300x200 proportion */
    perspective: 1000px; /* important for 3D flip */
    transition: filter 0.6s ease;
}

/* Body */
.envelope-body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f8c8dc;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

/* FLAP — now pointing DOWN */
.envelope-flap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%; /* half of envelope height */

  clip-path: polygon(0 0, 100% 0, 50% 100%);
  background: #f4a6c1;

  transform-origin: top center;
  transition: transform 0.6s ease, filter 0.6s ease;
  z-index: 3;
}

.envelope-flap-back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%; /* half of envelope height */

  clip-path: polygon(0 0, 100% 0, 50% 100%);
  background: #e594ab;

  z-index: 2;
}

/* Letter */
.letter {
  position: absolute;
  width: 98%;
  height: auto;
  max-height: 100%;
  overflow-y: auto;
  background: white;
  top: 5%;
  left: 1%;
  border-radius: 6px;
  padding: 15px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  transform: translateY(0);
  opacity: 0; /* start hidden */
  z-index: 0;

  
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.letter::-webkit-scrollbar {
  width: 6px;
}

.letter::-webkit-scrollbar-thumb {
  background-color: var(--vanilla);
  border-radius: 3px;
}

/* OPEN STATE */
.envelope.open .envelope-flap, .envelope-view.open .envelope-flap{
  transform: rotateX(-180deg); /* flips upward */
  z-index: 0; /* moves behind letter */
  filter: drop-shadow(0 12px 30px rgba(0, 0, 0, 0.08));
}

.envelope.open .letter, .envelope-view.open .letter {
  animation: letterFadeIn 7s ease forwards;
  animation-delay: 0.6s; /* start after flap opens */
  z-index: 2;
}

.envelope.open , .envelope-view.open {
  filter: drop-shadow(0 12px 30px rgba(0, 0, 0, 0.08));
}

.view-hero {
    margin-bottom: 40px;
}

.envelope-view.open .envelope-flap {
  transform: rotateX(-180deg);
  transition: transform 1s ease; /* delay = flap duration */
}


/* Sparkles */
.sparkles-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
  overflow: visible;
}

.sparkle {
  position: absolute;
  transform: translateX(0) translateY(0);
  display: inline-block;
  color: gold;
}

@keyframes riseAndFall {
  0% {
    opacity: 0;
    transform: translateX(0) translateY(0);
    z-index: 3;
  }
  20% {
    opacity: 1;
    z-index: 5;
  }
  50% {
    transform: translateX(var(--horizontal-offset)) translateY(-120px);
    opacity: 1;
    z-index: 5;
  }
  100% {
    transform: translateX(var(--horizontal-offset)) translateY(22vw);
    opacity: 0.8;
    animation-timing-function: ease-out;
    z-index: 5;
  }
}

/* Letter fade + rise */
@keyframes letterFadeIn {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  20% {
    opacity: 0; /* keep hidden while flap opens */
  }
  100% {
    opacity: 1;
    transform: translateY(-20%);
  }
}

.send-back-btn {
    margin-top: 150px;
    margin-bottom: 100px;
    width: fit-content;
    background-color: var(--pearl-blush);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Cormorant Garamond", serif;
    color: var(--text-primary);
    font-size: 1.1rem;
    font-weight: 500;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}


/* Intro Animation to viewing card */

.reveal-overlay {
  position: fixed;       /* cover the whole viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.963); /* dark background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 999;          /* above everything else */
  opacity: 1;
  animation: fadeOut 2s ease 4s forwards; /* start fading after 4s */
}

.reveal-message p {
  text-align: center;
  padding: 30px 50px;
  color: var(--deep-rose);
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 3rem;
}

.envelope-back {
    background: #f8c8dc;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
    z-index: 1;
    position: relative;
    width: clamp(220px, 80vw, 400px);
    aspect-ratio: 3 / 2; /* keeps 300x200 proportion */
    perspective: 1000px; /* important for 3D flip */
    transition: filter 0.6s ease;
    transform: rotate(-1deg);
}

.envelope-back p {
    color: inherit;
    font-family: "Cormorant Garamond", serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.envelope-back-to {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  font-size: 1.3rem;
}

.envelope-back-stamp {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 50px;
  height: 50px;
  background-image: url('/assets/icons/stamp.png');
  border: 2px dashed #fff; /* gives stamp feel */
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}

.envelope-back-from {
  position: absolute;
  top: 12px;
  left: 16px;
  margin: 0;
  font-size: 0.9rem;
}

.envelope-back-to strong,
.envelope-back-from strong {
  display: block;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/* Fade out animation */
@keyframes fadeOut {
  to { opacity: 0; visibility: hidden; }
}