/* Page / layout / base styles
   General layout, cards, typography & spacing */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
}

section {
    flex: 0;
}


header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.divider {
    height: 1px;
    margin: 0;
    width: 100%;
}

.divider-heart {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 20px 0;
    width: 30vw;
    justify-content: center;
}

.site-title {
    margin-bottom: 5px;
    margin-left: 20px;
}

.accessibility {
    margin-top: auto;
    padding: 10px 10px;
}

.accessibility-btn {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

