/* Page / layout / base styles
   General layout, cards, & spacing */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
}

section {
    flex: 0;
}


header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav {
    width: 100%;
}

.navbar {
    max-width: 130rem;
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 5px 10px;
}

footer {
   width: 100%;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 130rem;
    align-items: center;
    padding: 0px 5px;
    margin: 0 auto;
}

input, textarea {
    padding: 10px;
    border: 1px solid var(--pearl-blush);
    border-radius: 4px;
    width: 100%;
}

textarea {
    resize: vertical;
}

button {
    margin-top: 40px;
    z-index: 1;
}


.divider {
    height: 1px;
    margin: 0;
    width: 100%;
}

.divider-heart {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 5px 0 15px 0;
    width: 40vw;
    min-width:250px;
    max-width:500px;
    justify-content: center;
}

.divider-card {
    height: 2px;
    margin: 0;
    width: 100%;
}

.divider-heart-card {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 5px;
    margin-bottom: 60px;
    width: 40vw;
    min-width:250px;
    max-width:700px;
    justify-content: center;
}

.site-title {
    margin-bottom: 5px;
    margin-left: 20px;
}

.card-options {
    padding-bottom: 100px;
}

.message-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
    padding-bottom: 100px;
    max-width: 100rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 30px;
}

.preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
}

.form-container, .preview-container {
    width: 40vw;

}

.static-card {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

.passcode-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
}

@media (max-width: 768px) {
    .message-container {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .form-container, .preview-container {
        width: 90vw;
        padding: 15px 10px;
    }

    .envelope-view {
        width: 75vw !important;
    }

    .envelope-wrapper-view.open {
        margin-top: 160px !important;
    }

    .passcode-container {
        width: 80vw;
    }
    .passcode-hero {
        margin-bottom: 20px !important;
    }

    @keyframes riseAndFallMobile {
        0% {
        opacity: 0;
        transform: translateX(0) translateY(0);
        z-index: 5;
        }
        20% {
        opacity: 1;
        z-index: 5;
        }
        50% {
        transform: translateX(var(--horizontal-offset)) translateY(-180px); /* more rise */
        opacity: 1;
        z-index: 5;
        }
        100% {
        transform: translateX(var(--horizontal-offset)) translateY(200px); /* fallen lower */
        opacity: 0.8;
        z-index: 5;
        animation-timing-function: ease-out;
        }
    }

    /* Apply mobile keyframes to sparkles */
    .sparkle {
        animation-name: riseAndFallMobile !important;
    }

}

@media (min-width: 769px) and (max-width: 1023px) {
    .view-hero {
        margin-bottom: 100px !important;
    }

    .view-story-hero {
        margin-bottom: 50px !important;
    }

    .passcode-hero {
        margin-bottom: 60px !important;
    }
}

@media (min-width: 1024px) {
    @keyframes riseAndFallLarge {
        0% {
        opacity: 0;
        transform: translateX(0) translateY(0);
        z-index: 5;
        }
        20% {
        opacity: 1;
        z-index: 5;
        }
        50% {
        transform: translateX(var(--horizontal-offset)) translateY(-180px); /* more rise */
        opacity: 1;
        z-index: 5;
        }
        100% {
        transform: translateX(var(--horizontal-offset)) translateY(250px); /* fallen lower */
        opacity: 0.8;
        z-index: 5;
        animation-timing-function: ease-out;
        }
    }

    /* Apply mobile keyframes to sparkles */
    .sparkle {
        animation-name: riseAndFallLarge !important;
    }

    .view-hero {
        margin-bottom: 0px !important;
    }

    .passcode-hero {
        margin-bottom: 100px !important;
    }
    
}

@media (prefers-reduced-motion: reduce) {
    .intro-floating-hearts {
        display: none;
    }

    .floating-hearts-container {
        display: none;
    }
}




