/* Page / layout / base styles
   General layout, cards, typography & spacing */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
}

section {
    flex: 0;
}


header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input, textarea {
    padding: 10px;
    border: 1px solid var(--pearl-blush);
    border-radius: 4px;
    width: 100%;
}

button {
    margin-top: 40px;
    z-index: 1;
}

.divider {
    height: 1px;
    margin: 0;
    width: 100%;
}

.divider-heart {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 5px 0;
    width: 40vw;
    min-width:300px;
    max-width:500px;
    justify-content: center;
}

.site-title {
    margin-bottom: 5px;
    margin-left: 20px;
}

.accessibility {
    margin-top: auto;
    padding: 10px 10px;
}

.accessibility-btn {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 0;
}

.card-options {
    padding-bottom: 100px;
}

.message-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
    padding-bottom: 100px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 30px;
}

.preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
}

.form-container, .preview-container {
    width: 40vw;

}

.static-card {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

.passcode-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
}

@media (max-width: 768px) {
    .message-container {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .form-container, .preview-container {
        width: 90vw;
    }

    .expiration-group {
        padding: 10px;
    }

    .envelope-view {
        width: 75vw !important;
    }

    .envelope-wrapper-view.open {
        margin-top: 160px !important;
    }

    .passcode-container {
        width: 80vw;
    }
    .passcode-hero {
        margin-bottom: 20px !important;
    }

    @keyframes riseAndFallMobile {
        0% {
        opacity: 0;
        transform: translateX(0) translateY(0);
        z-index: 5;
        }
        20% {
        opacity: 1;
        z-index: 5;
        }
        50% {
        transform: translateX(var(--horizontal-offset)) translateY(-180px); /* more rise */
        opacity: 1;
        z-index: 5;
        }
        100% {
        transform: translateX(var(--horizontal-offset)) translateY(50vw); /* fallen lower */
        opacity: 0.8;
        z-index: 5;
        animation-timing-function: ease-out;
        }
    }

    /* Apply mobile keyframes to sparkles */
    .sparkle {
        animation-name: riseAndFallMobile !important;
    }

}

@media (min-width: 769px) and (max-width: 1023px) {
    .view-hero {
        margin-bottom: 100px !important;
    }

    .passcode-hero {
        margin-bottom: 60px !important;
    }
}

@media (min-width: 1024px) {
    @keyframes riseAndFallLarge {
        0% {
        opacity: 0;
        transform: translateX(0) translateY(0);
        z-index: 5;
        }
        20% {
        opacity: 1;
        z-index: 5;
        }
        50% {
        transform: translateX(var(--horizontal-offset)) translateY(-180px); /* more rise */
        opacity: 1;
        z-index: 5;
        }
        100% {
        transform: translateX(var(--horizontal-offset)) translateY(14vw); /* fallen lower */
        opacity: 0.8;
        z-index: 5;
        animation-timing-function: ease-out;
        }
    }

    /* Apply mobile keyframes to sparkles */
    .sparkle {
        animation-name: riseAndFallLarge !important;
    }

    .view-hero {
        margin-bottom: 0px !important;
    }

    .passcode-hero {
        margin-bottom: 100px !important;
    }
    
}




