/* Global design tokens / theme 
    Colors, fonts, spacing, etc. */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&family=Inter:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Manrope:wght@200..800&display=swap');

:root {
  --cream: #faf7f2;
  --white-linen: #fffdf9;
  --pearl-blush: #eee6e0;
  --vanilla: #cfbfab;
  --soft-pink: #f3c1cf;
  --rose: #d97a8a;
  --deep-rose: #9b2c3e;
  --text-primary: #2b2b2b;
  --text-secondary: #6f6a64;
}

main {
    font-family: "Manrope", sans-serif;
}

body {
    background: var(--cream); 
    color: var(--text-primary);
}

footer {
    background-color: var(--pearl-blush);
}

h1, h2, h3 {
    font-family: "Cormorant Garamond", serif;
    color: var(--deep-rose)
}

h2 {
    font-size: 2.8rem;
    text-align: center;
}

h3 {
    font-weight: 500;
    font-size: 1.4rem;
}

p {
    color: var(--text-secondary);
    font-size: 0.9rem;
}

label {
    color: var(--text-secondary);
    font-size: 0.9rem;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}

button {
    background-color: var(--pearl-blush);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 5px 10px;
    cursor: pointer;
    font-family: "Cormorant Garamond", serif;
    color: var(--text-primary);
    font-size: 1.1rem;
    font-weight: 500;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

button:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
    border: 1px solid var(--soft-pink);
}

input, textarea {
    color: var(--text-primary);
    font-family: "Manrope", sans-serif;
    font-size: 0.9rem;
}

/* Classes */
.divider {
    background-color: var(--pearl-blush);
}

.site-title {
    font-weight: 300;
    font-style: italic;
    font-size: 2rem;
}

.accessibility-btn {
    background: none;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
    font-size: 0.85rem;
    font-family: "Manrope", sans-serif;
}

.accessibility-btn:hover {
    text-decoration: underline;
    color: blue;
    transform: none;
    box-shadow: none;
    border: none;
}

/* Clickable button card container*/
.card-option {
    background: var(--white-linen);
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 32px;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card-option:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--soft-pink);
}

.form-container, .preview-container {
    background-color: var(--white-linen);
    border-radius: 16px; 
    border: 1px solid rgba(0, 0, 0, 0.05);
}